@font-face {
  font-family: "steelfish";
  src: url(assets/fonts/steelfish.otf) format("opentype");
}
@font-face {
  font-family: "steelfish";
  font-weight: 700;
  src: url(assets/fonts/steelfish-700.otf) format("opentype");
}
@font-face {
  font-family: "steelfish";
  font-weight: 900;
  src: url(assets/fonts/steelfish-900.otf) format("opentype");
}

body {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: hsl(50deg 100% 97%);
  background-color: hsl(0deg 0% 25%);
  background: radial-gradient(hsl(0deg 0% 25%), hsl(0deg 0% 15%));
}

h1 {
  font-family: steelfish;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 8rem;
}

.dean {
  color: hsl(37deg 100% 50%);
}
